{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSameLine": false,
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
